{
  "openapi": "3.0.0",
  "info": {
    "title": "UnleashNFTs API V2",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.unleashnfts.com/api/v2",
      "description": "UnleashNFTs API V2 server"
    }
  ],
  "security": [
    {
      "x-api-key": []
    }
  ],
  "paths": {
    "/blockchains": {
      "get": {
        "x-sql-query": "SELECT *\nFROM table_names.blockchain\nORDER BY name asc\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-credit": 0.1,
        "summary": "Retrieve Supported Blockchains",
        "description": "Gets information about the supported blockchains and their corresponding chain IDs.\n\n The response includes:\n\n - **data array**: A list of supported blockchains.\n\n - **blockchain metadata**: Each item in the array contains details such as the blockchain name and its associated chain ID.\n\n This information provides an overview of the blockchains supported by the system, along with their identifiers.\n",
        "tags": [
          "Blockchains"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/market-insights/analytics": {
      "get": {
        "summary": "NFT Market Analytics Report",
        "description": "Get aggregated values and trend data for various NFT market metrics, offering insights into the market's performance over time. \n\nThe response includes:\n\n- **metrics**: An array of metrics tracked, such as volume, number of sales, and holders.\n\n- **blockdates**: An array of dates or time periods corresponding to each metric's data points.\n\n- **metric values**: The aggregated values of each metric over the specified time blocks.\n\nThis information enables users to examine key trends and performance indicators in the NFT market, helping them analyze market activity, growth, and fluctuations across different metrics.\n",
        "tags": [
          "NFT Market Insights"
        ],
        "x-sql-query": "SELECT * FROM {{master_table}};\n",
        "x-database": "postgres",
        "x-master": "blockchain_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/market-insights/holders": {
      "get": {
        "summary": "NFT Holders Insights",
        "description": "Gets the aggregated values and trends for holders' metrics in the NFT market. \n\nThe response includes:\n\n- **metrics**: An array of the different metrics being tracked for NFT holders.\n\n- **blockdates**: An array of dates or time blocks associated with each metric value.\n\n- **metric values**: The values of each metric, aggregated across the specified time blocks or dates.\n\nThis data enables tracking the performance and trends of NFT holders over time, providing insights into market activity and trends.\n",
        "tags": [
          "NFT Market Insights"
        ],
        "x-sql-query": "SELECT * FROM {{master_table}};\n",
        "x-database": "postgres",
        "x-master": "blockchain_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/market-insights/scores": {
      "get": {
        "summary": "NFT Scores Insights",
        "description": "Gets aggregated values and trends for scores in the NFT market. \n\nThe response includes:\n\n- **metrics**: An array of scores or related metrics being tracked.\n\n- **blockdates**: An array of time periods or dates associated with each score.\n\n- **metric values**: The aggregated values of each score over the specified time blocks or dates.\n\nThis data allows users to track and analyze score trends in the NFT market over time.\n",
        "tags": [
          "NFT Market Insights"
        ],
        "x-sql-query": "SELECT * FROM {{master_table}};\n",
        "x-database": "postgres",
        "x-master": "blockchain_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/market-insights/traders": {
      "get": {
        "summary": "NFT Traders Insights",
        "description": "Gets aggregated values and trends for trader metrics in the NFT market. \n\nThe response includes:\n\n- **metrics**: An array of trader-related metrics being tracked (e.g., number of trades, volume, etc.).\n\n- **blockdates**: An array of time periods or dates linked to each metric.\n\n- **metric values**: The aggregated values for each trader metric over the corresponding time blocks or dates.\n\nThis data helps analyze the activity and trends of traders within the NFT market over time.\n",
        "tags": [
          "NFT Market Insights"
        ],
        "x-sql-query": "SELECT * FROM {{master_table}};\n",
        "x-database": "postgres",
        "x-master": "blockchain_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/market-insights/washtrade": {
      "get": {
        "summary": "NFT Washtrade Insights",
        "description": "Gets aggregated values and trends for washtrade metrics in the NFT market. \n\nThe response includes:\n\n- **metrics**: An array of washtrade-related metrics being tracked.\n\n- **blockdates**: An array of time periods or dates linked to each metric.\n\n- **metric values**: The aggregated values for each washtrade metric over the corresponding time blocks or dates.\n\nThis data helps to analyze the trends and patterns of washtrading activities within the NFT market.\n",
        "tags": [
          "NFT Market Insights"
        ],
        "x-sql-query": "SELECT * FROM {{master_table}};\n",
        "x-database": "postgres",
        "x-master": "blockchain_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/marketplace/metadata": {
      "get": {
        "summary": "NFT Marketplace Metadata",
        "description": "Retrieve metadata for all available marketplaces, providing comprehensive details about each marketplace.\n\nThe response includes:\n\n- **marketplace names**: The names of the available marketplaces.\n\n- **supported blockchains**: Blockchains supported by each marketplace.\n\n- **images**: Visual representations or logos of the marketplaces.\n\n- **external URLs**: Links to the marketplaces for additional information or direct access.\n\nThis data enables users to compare marketplaces, understand their offerings, and identify the most suitable platforms for trading or exploring NFTs and digital assets.\n",
        "tags": [
          "NFT Marketplace"
        ],
        "x-sql-query": "SELECT *\nFROM table_names.marketplace\nORDER BY marketplaces {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-credit": 1,
        "parameters": [
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/marketplace/analytics": {
      "get": {
        "summary": "NFT Marketplace Analytics",
        "description": "Retrieve detailed analytics and trend data for a specific marketplace, identified by its chain ID and marketplace name.\n\nThe response includes:\n\n- **trading volume**: Metrics on the total volume traded within the marketplace.\n\n- **transactions and transfers**: Data on the number of transactions and transfers over time.\n\n- **sales trends**: Insights into sales patterns and trends within the marketplace.\n\nThis information provides a comprehensive view of the marketplace's performance, user engagement, and market dynamics. It helps users analyze growth patterns and overall trends within the specified marketplace.\n",
        "tags": [
          "NFT Marketplace"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{name}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "marketplace_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "polygon",
                "solana"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "volume"
              ],
              "default": "volume"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/marketplace/holders": {
      "get": {
        "summary": "NFT Marketplace Holders",
        "description": "Retrieve detailed metrics and trend data for all holders within a specific marketplace, identified by its chain ID and marketplace name.\n\nThe response includes:\n\n- **holder activity**: Insights into the activity of holders within the marketplace.\n\n- **unique holders**: Data on the number of unique holders.\n\n- **holder trends**: Changes in the number of holders over time.\n\nThis information helps track ownership trends, understand asset concentration, and analyze how the holder base within the marketplace evolves.\n",
        "tags": [
          "NFT Marketplace"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{name}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "marketplace_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "polygon",
                "solana"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "holders"
              ],
              "default": "holders"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/marketplace/traders": {
      "get": {
        "summary": "NFT Marketplace Traders",
        "description": "Retrieve detailed metrics and trend data for all traders within a specific marketplace, identified by its chain ID and marketplace name.\n\nThe response includes:\n\n- **unique traders**: The number of distinct traders active within the marketplace.\n\n- **trader ratio**: The ratio of buyers to sellers within the marketplace.\n\n- **traders (buyers and sellers)**: Insights into the number of buyers and sellers.\n\n- **trader trends**: Changes in trader activity and metrics over time.\n\nThis data helps analyze the marketplace's trading dynamics, track the performance of active traders, and identify changes in trading patterns and engagement within the marketplace.\n",
        "tags": [
          "NFT Marketplace"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{name}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "marketplace_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "polygon",
                "solana"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "traders"
              ],
              "default": "traders"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/marketplace/washtrade": {
      "get": {
        "summary": "NFT Marketplace Washtrade",
        "description": "Retrieve detailed washtrade metrics and trend data for a specific marketplace, identified by its chain ID and marketplace name.\n\nThe response includes:\n\n- **washtrade volume**: The total volume suspected to involve wash trading.\n\n- **washtrade suspect sales**: The number of sales flagged as potential wash trades.\n\n- **washtrade suspect transactions**: The number of transactions identified as suspicious.\n\n- **washtrade assets**: Assets involved in suspected wash trading activities.\n\n- **washtrade wallets**: Wallets flagged for potential involvement in wash trading.\n\nThis information helps assess the integrity of the marketplace's trading environment, providing transparency into wash trading trends and identifying any red flags in trading behavior within the marketplace.\n",
        "tags": [
          "NFT Marketplace"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{name}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "marketplace_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "polygon",
                "solana"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "washtrade_volume"
              ],
              "default": "washtrade_volume"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/metadata": {
      "get": {
        "summary": "Collection Metadata",
        "description": "Retrieve metadata for a specific NFT collection using the provided contract address or slug name and chain ID, offering detailed insights into the collection's attributes.\n\nThe response includes:\n\n- **collection name**: The name of the NFT collection.\n\n- **description**: A detailed description of the NFT collection.\n\n- **key properties**: Metadata information about the collection's key attributes.\n\nThis information helps users understand the characteristics and details of specific NFT collections based on contract or slug name and blockchain identifiers.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nwhere blockchain='@blockchain' AND\n({{contract_address}} AND {{slug_name}})\norder by collection {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 3,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "berachain",
                "binance",
                "ethereum",
                "linea",
                "polygon"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ],
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "slug_name",
            "in": "query",
            "required": false,
            "description": "Name of collection slugs",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Enter the name of each collection slug"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/owner": {
      "get": {
        "summary": "Collection Owner",
        "description": "Get list of NFT holders for the given contract_address or collection name\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nAND {{collection}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 1,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "linea",
                "polygon",
                "solana",
                "unichain"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Name of the collection",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Name of the collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "acquired_date",
                "quantity"
              ],
              "default": "acquired_date"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ],
              "default": "all"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/analytics": {
      "get": {
        "summary": "Collection Analytics",
        "description": "Retrieve detailed metrics and trend data for a specific NFT collection using its contract address and chain ID, providing insights into performance over time.\n\nThe response includes:\n\n- **time-based trends**: Insights into various metrics over time, such as:\n  - **sales volume**: Total sales volume within the collection.\n  - **transaction count**: The number of transactions over time.\n  - **floor price usd**: The lowest listed sale price of an  NFT in USD on a marketplace at a given time..\n\nThis information helps users observe patterns like increases or decreases in sales, trading volumes, and price changes, enabling analysis of market dynamics and performance trends for the specified NFT collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "assets",
                "assets_change",
                "floor_price_usd",
                "floor_price_native",
                "sales",
                "sales_change",
                "volume",
                "volume_change",
                "transactions",
                "transactions_change",
                "transfers",
                "transfers_change"
              ],
              "default": "sales"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/holders": {
      "get": {
        "summary": "Collection Holders",
        "description": "Get detailed information about the holders of a specific collection, identified by its contract address and chain ID. \n\nThe response includes:\n\n- **holder distribution metrics**: Data on the distribution of tokens across holders.\n  \n- **holder count changes**: Metrics that track changes in the number of holders.\n\n- **ownership trends**: Trends in ownership over time.\n\nThis information allows users to analyze holder-related metrics, providing insights into token distribution and ownership dynamics for the collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 3,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "holders",
                "holders_change"
              ],
              "default": "holders"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/scores": {
      "get": {
        "summary": "Collection Scores",
        "description": "Get detailed metrics and trends for the scores associated with a specific collection. \n\nThe \"score\" typically refers to various performance indicators or rankings used to assess the collection's performance in terms of:\n\n- **trading**: Metrics related to trading activity and volume.\n  \n- **popularity**: Indicators of the collection's popularity and engagement.\n  \n- **other factors**: Such as rarity, liquidity, and additional performance aspects.\n\nThe response allows users to monitor the collection's market activity, user engagement, and overall success within the ecosystem.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 10,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "marketcap",
                "marketcap_change",
                "price_avg",
                "price_avg_change",
                "price_ceiling",
                "minting_revenue",
                "royalty_price"
              ],
              "default": "marketcap"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/traders": {
      "get": {
        "summary": "Collection Traders",
        "description": "Get detailed insights into the traders associated with a collection, identified by its contract address and chain ID.\n\nThe response includes:\n\n- **unique trader metrics**: Data on the number of unique traders involved with the collection.\n\n- **sellers and buyers**: Metrics tracking the number of sellers and buyers over time.\n\n- **trading trends**: Trends that show how actively the collection is being traded and how trader behavior evolves.\n\nThis information provides valuable insights into trading activity and trader behavior associated with the collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "traders",
                "traders_change",
                "traders_ratio",
                "traders_ratio_change",
                "traders_buyers",
                "traders_buyers_change",
                "traders_sellers",
                "traders_sellers_change"
              ],
              "default": "traders"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/washtrade": {
      "get": {
        "summary": "Collection Washtrade",
        "description": "Get detailed information on washtrading metrics for a specific NFT collection, identified by its contract address and chain ID.\n\nThe response includes:\n\n- **washtrading trends**: Tracking of washtrading metrics over time.\n\n- **metric values**: View values of various washtrading metrics.\n\n- **data integrity insights**: Detect any potential manipulation in the trading data.\n\nThis information helps in identifying and analyzing washtrading activities associated with the collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "atleta_olympia",
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "full",
                "linea",
                "monad_testnet",
                "polygon",
                "polyhedra_testnet",
                "root",
                "solana",
                "somnia_testnet",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "washtrade_assets",
                "washtrade_assets_change",
                "washtrade_suspect_sales",
                "washtrade_suspect_sales_change",
                "washtrade_volume",
                "washtrade_volume_change",
                "washtrade_wallets",
                "washtrade_wallets_change"
              ],
              "default": "washtrade_assets"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/whales": {
      "get": {
        "summary": "Collection Whales",
        "description": "Get detailed insights into the whale metrics for a specific NFT collection, identified by its contract address and chain ID.\n\nThe response includes:\n\n- **whale count**: The number of whales holding or trading the collection.\n\n- **whale activities**: Metrics tracking the activities of whales within the collection.\n\n- **activity trends**: Trends showing changes in whale involvement over time.\n\nThis information provides valuable insights into the influence of large holders on the collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_whales_table_names",
        "x-credit": 3,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "linea",
                "polygon",
                "solana",
                "unichain"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "nft_count",
                "mint_count",
                "mint_volume",
                "mint_whales",
                "unique_wallets",
                "unique_mint_wallets",
                "unique_buy_wallets",
                "unique_sell_wallets",
                "total_mint_volume",
                "total_sale_volume",
                "buy_count",
                "buy_volume",
                "buy_whales",
                "sell_count",
                "sell_volume",
                "sell_whales",
                "whale_holders"
              ],
              "default": "nft_count"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/profile": {
      "get": {
        "summary": "Collection Profile",
        "description": "Get detailed insights into the profile metrics for a specific NFT collection, identified by its contract address and chain ID.\n\nThe response includes:\n\n- **active profiles**: Metrics related to the number of active user profiles within the collection.\n\n- **profile engagement**: Data on user engagement and interaction levels within the collection.\n\n- **profile growth trends**: Trends in profile growth that impact trading and ownership dynamics.\n\nThis information provides a comprehensive view of user behavior and engagement within the collection.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_profile_table_names",
        "x-credit": 3,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "berachain",
                "binance",
                "bitcoin",
                "ethereum",
                "linea",
                "polygon",
                "solana",
                "unichain"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "fear_and_greed_index",
                "washtrade_index",
                "metadata_score",
                "liquidity_score",
                "market_dominance_score",
                "token_distribution_score",
                "collection_score",
                "holder_metrics_score",
                "diamond_hands",
                "profitable_volume",
                "loss_making_volume",
                "profitable_trades",
                "loss_making_trades",
                "zero_profit_trades",
                "profitable_trades_percentage",
                "avg_profitable_trades",
                "loss_making_trades_percentage",
                "avg_loss_making_trades"
              ],
              "default": "washtrade_index"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/categories": {
      "get": {
        "summary": "Collection Categories",
        "description": "Get metadata information for the collection based on the selected category.\n\nThe response includes:\n\n- **collection metadata**: Details of all metadata within the specified category.\n\nThis information provides a comprehensive view of the collection's metadata categorized by the selected criteria.\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 1,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "binance",
                "ethereum",
                "full",
                "linea",
                "polygon",
                "solana"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "transactions",
                "sales",
                "holders"
              ],
              "default": "volume"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/collection/traits": {
      "get": {
        "summary": "Collection Traits",
        "description": "This endpoint is commonly used to retrieve the traits of assets in a collection.\nResults are sorted alphabetically by trait type, and then by count of assets with each distinct value for that trait type, in descending order\n",
        "tags": [
          "NFT Collections"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{contract_address}}\nAND {{collection}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "collection_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ethereum"
              ],
              "default": "ethereum"
            }
          },
          {
            "in": "query",
            "name": "contract_address",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market / collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "trait_type"
              ],
              "default": "trait_type"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "required": false,
            "description": "Name of the collection",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Name of the collection"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/wallet/analytics": {
      "get": {
        "summary": "Wallet Analytics",
        "description": "Retrieve detailed analytics on value and trends for a specific wallet, identified by its address and chain ID.\n\nThe response includes:\n\n- **sales**: Metrics related to sales activity associated with the wallet.\n\n- **transactions**: Data on the number of transactions over time.\n\n- **transfers**: Insights into asset transfers involving the wallet.\n\n- **trend analysis**: Analysis of activity trends and performance over time.\n\nThis information provides a comprehensive view of the wallet’s activity, asset growth, and performance trends, helping users understand its financial dynamics within the blockchain network.\n",
        "tags": [
          "NFT Wallets"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{wallet}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "wallet_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "in": "query",
            "name": "wallet",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "linea",
                "polygon",
                "root",
                "solana",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "time_range",
            "in": "query",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "sales",
                "transactions",
                "transfers",
                "nft_burn",
                "nft_transfer",
                "nft_mint",
                "nft_bought",
                "nft_sold",
                "minted_value",
                "volume_change",
                "sales_change",
                "transactions_change",
                "transfers_change",
                "nft_burn_change",
                "nft_transfer_change",
                "nft_mint_change",
                "nft_bought_change",
                "nft_sold_change",
                "minted_value_change",
                "buy_volume",
                "sell_volume"
              ],
              "default": "volume"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/wallet/scores": {
      "get": {
        "summary": "Wallet Scores",
        "description": "Retrieve detailed analytics on score values and trends for a specific wallet, identified by its address and chain ID.\n\nThe response includes:\n\n- **score metrics**: Various performance scores associated with the wallet over time.\n\n- **trend analysis**: Insights into trends in the wallet’s score, showing changes and patterns.\n\n- **relative standing**: An overview of the wallet’s position and interaction within the blockchain ecosystem.\n\nThis information provides a comprehensive view of the wallet’s performance, highlighting score trends and its role in the blockchain network.\n",
        "tags": [
          "NFT Wallets"
        ],
        "x-sql-query": "SELECT *\nFROM {{master_table}}\nWHERE {{wallet}}\nORDER BY {{sort_by}} {{sort_order}}\nLIMIT @limit OFFSET @offset;\n",
        "x-database": "postgres",
        "x-master": "wallet_table_names",
        "x-credit": 5,
        "parameters": [
          {
            "in": "query",
            "name": "wallet",
            "required": false,
            "description": "Metric group values to return",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "Metric group for market"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "blockchain",
            "in": "query",
            "description": "Filter or get aggregate blockchain data",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "avalanche",
                "base",
                "binance",
                "bitcoin",
                "ethereum",
                "linea",
                "polygon",
                "root",
                "solana",
                "soneium",
                "unichain",
                "unichain_sepolia"
              ],
              "default": "ethereum"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Property to sort result set by",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "portfolio_value",
                "unrealized_profit",
                "estimated_portfolio_value",
                "collection_count",
                "nft_count",
                "washtrade_nft_count",
                "realized_profit"
              ],
              "default": "portfolio_value"
            }
          },
          {
            "in": "query",
            "name": "sort_order",
            "description": "Order to sort the result set in",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          },
          {
            "in": "query",
            "name": "time_range",
            "description": "Time range to filter results",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "7d",
                "30d",
                "90d",
                "all"
              ],
              "default": "24h"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "description": "Index of the page to return",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "description": "Number of items to return in the result set",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "pagination": {
                      "type": "object"
                    }
                  }
                }
              }
            }
[...]
